@media screen and (max-width:1000px) {
    body {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  #todo-list {
    width: 100%;
}
}

@media screen and (max-width:900px) {
  .timer-container {
    padding: 2rem;
  }

  .timer-status-container {
    width: 100%;
  }

  .timer-status-button-inner-container {
    padding: 1rem 0;
  }

  .time-text {
    font-size: 5rem;
  }

  .split-line {
    width: 100%;
  }

  .timer-buttons-container {
    gap: 1.5rem;
    margin: 1rem auto;
  }

  .timer-buttons-container button {
    width: 30px;
    height: 30px;
  }

  #todo-list {
    width: 100%;
  }
}


@media (hover: none) {
  #play-button:hover {
    background-color: var(--light-blue);
  }
}